.scrollnavbar {
  .v-list--one-line {
    .v-list-group__items .v-list-item,
    .v-list-item {
      padding-inline-start: 12px !important;
      padding-left: 12px;
      &:hover {
        color: rgb(var(--v-theme-primary));
      }

      .v-list-item__prepend {
        margin-inline-end: 13px;
      }

      .v-list-item__append {
        font-size: 0.875rem;

        .v-icon {
          margin-inline-start: 13px;
        }
      }

      .v-list-item-title {
        font-size: 0.875rem;
      }
    }
    .v-list-group__items .v-list-item .v-avatar.v-avatar--density-default,
    .v-avatar.v-avatar--density-default {
      width: 20px;
      height: 34px;
    }
    .v-list-item--active {
      background: rgb(var(--v-theme-secondary));
      background: #03c9d7;
      color: white;
    }
    .v-list-group__header {
      .itemGroup:focus {
        background: rgb(var(--v-theme-secondary));
        color: white;
      }
      .v-list-item--active {
        background: rgb(var(--v-theme-secondary));
        color: #fff;
      }
      .item-custom {
        .v-list-item--active {
          background: #fff !important;
          color: #03c9d7 !important;
        }
      }
    }
  }
}
